@use './../abstract' as a;

@media (min-width: 2560px) {
  app-main-header, app-info, app-ending-soon, app-survey-list{
    zoom: 1.6;
  }
}

@media (min-width: 1960px) {
  app-main-header, app-info, app-ending-soon, app-survey-list{
    zoom: 1.4;
  }
}

@media (min-width: 1560px) {
  .home{
    align-items: center !important;
  }
  app-info, app-ending-soon, app-survey-list{
    max-width: 1500px;
  }
}

@media (max-width: 1375px) {
  .home>app-info>.info {
    @include a.dFlex($ai: flex-start !important);
    flex-direction: column;

    .wrapper__text {
      display: contents;

      h1 {
        order: 1;
      }
      p {
        order: 3;
      }
      button {
        order: 4;
        align-self: center;
      }
    }

    .wrapper__img {
      order: 2;
    }
  }

  .home {
    padding-inline: 16px !important;
  }

  .ending-soon {
    padding-inline: 0 !important;
  }

  .survey-list {
    padding-inline: 0 !important;
  }
}

@media (max-width: 1080px) {
  .wrapper__surveys{
    grid-template-columns: auto !important;
  }
}

@media (max-width: 768px) {
  .button-wrapper {
    @include a.dFlex($ai: flex-start !important);
    flex-direction: column;
    gap: 48px;
  }

  .wrapper__surveys {
    height: max-content !important;
  }

  .wrapper__text>h1{
    font: 62px "Nerko" !important;
  }
}

@media (max-width: 568px) {
  .wrapper__surveys{
    max-height: max-content !important;
    padding-right: 0 !important;
  }
  .survey-preview{
    width: 100% !important;
  }
  .ending-soon-wrapper{
    transform: scale(0.7);
    transform-origin: top left;
    width: 130% !important;
  }
}

@media (max-width: 480px) {
  .wrapper__img{
    transform: scale(0.6);
    transform-origin: top left;
    height: 260px !important;
  }
}
