@use './../abstract' as a;

@media (min-width: 2560px) and (min-height: 1560px) {
  .wrapper__new_survey{
    transform: scale(1.6) !important;
  }
}

@media (min-width: 1660px) and (min-height: 1560px) {
  .new-survey{
    justify-content: flex-start !important;
    padding-top: 10%;
  }
  .wrapper__new_survey{
    transform: scale(1.4);
    transform-origin: top center;
  }
}

@media (max-width: 1375px) {
  .new-survey {
    gap: 54px;
    overflow-y: scroll;
    scrollbar-width: none;
    @include a.dFlex($jc: flex-start !important);
    > app-main-header {
      display: flex !important;
      @include a.dFlex();
      width: 100%;
      > header {
        padding-top: 48px !important;
        padding-bottom: 0 !important;
        padding-left: 16px;
      }
    }
  }
  .wrapper__new_survey {
    margin: 0 !important;
  }
}

@media (max-width: 1166px) {
  .wrapper__new_survey {
    padding-inline: 16px !important;
  }
  .wrapper__new_survey > main > header {
    @include a.dFlex($ai: flex-start !important);
    padding-right: 16px;
  }
  .wrapper__new_survey > main > header > button > span {
    display: none !important;
  }
  .wrapper__new_survey > main > form {
    padding-inline: 10px !important;
    padding-block: 40px !important;
  }
  .wrapper__new_survey > main > form > .info {
    @include a.dFlex($ai: flex-start !important);
    flex-direction: column;
    > .left {
      width: 100% !important;
      padding-right: 0 !important;
      > section {
        > .dropdown-div {
          display: none !important;
        }
        > .input-wrapper {
          width: 100% !important;
        }
      }
    }
    > .right {
      width: 100% !important;
      > div > #description {
        width: 100% !important;
      }
    }
  }
  .wrapper__new_survey > main > form > .question-wrapper {
    grid-template-columns: auto !important;
    > app-question > .question {
      padding-right: 0 !important;
    }
  }
}

@media (max-width: 600px) {
  .success-overlay {
    position: fixed !important;
    top: auto !important;
    right: auto !important;
    bottom: -200px !important;
    left: 0 !important;
    width: 100% !important;
    height: auto !important;
    transform: none !important;
    transition: bottom 0.4s ease !important;

    &.visible {
      bottom: 40px !important;
      transform: none !important;
    }
  }
}
