<section class="survey-list">
  <div class="button-wrapper">
    <div>
      <button
        id="active"
        [class.active--selected]="activeFilter() === 'active'"
        (click)="setFilter('active')"
      >
        Active survey
      </button>
      <button
        id="past"
        [class.past--selected]="activeFilter() === 'past'"
        (click)="setFilter('past')"
      >
        Past survey
      </button>
    </div>

    <div class="dropdown-wrapper">
      <div class="dropdown-trigger" [class.open]="isDropdownOpen" (click)="toggleDropdown()">
        <span>Select by categories</span>
        <img
          src="/assets/drop_down.svg"
          class="chevron-icon"
          [class.rotated]="isDropdownOpen"
          alt=""
          width="16"
          height="16"
        />
        <img
          src="/assets/drop_down_hover.svg"
          class="chevron-icon--hover"
          [class.rotated]="isDropdownOpen"
          alt=""
          width="16"
          height="16"
        />
      </div>

      @if (selectedCategory()) {
        <span class="selected-category-badge">
          {{ selectedCategory() }}
        </span>
      }

      <div class="dropdown-menu" [class.open]="isDropdownOpen">
        @for (category of categories; track category) {
          <div
            class="dropdown-option"
            [class.selected]="selectedCategory() === category"
            (click)="toggleCategory(category)"
          >
            {{ category }}
          </div>
        }
      </div>
    </div>
  </div>

  <div class="wrapper__surveys">
    @for (survey of dbService.surveys(); track survey.id) {
      <app-survey-preview
        [category]="survey.category"
        [name]="survey.name"
        [end_date]="survey.end_date"
        (click)="onSurveyClick(survey.id)"
      ></app-survey-preview>
    }
  </div>
</section>
