<section class="question">
  <div class="published-wrapper">
    <div class="published">Published</div>
    <button (click)="backToHome()">
      <img src="/assets/close_dark.svg" alt="" />
    </button>
  </div>
  <div class="span-wrapper">
    <span class="date">
      @if (daysRemaining() <= 0) {
        <span>Ended</span>
      } @else {
        <span>Ends in {{ daysRemaining() }} Day{{ daysRemaining() !== 1 ? 's' : '' }}</span>
      }
    </span>
    <span class="category">Category: {{ category() }}</span>
  </div>
  <h1 class="title">{{ name() }}</h1>
  @if (description().trim().length > 0) {
    <p class="description">{{ description() }}</p>
  }
</section>
