<section class="question">
  <div class="published-wrapper">
    <div class="published">Published</div>
    <button (click)="backToHome()">
      <img src="/assets/close_dark.svg" alt="" />
    </button>
  </div>
  <div class="span-wrapper">
    <span class="date">
      @if (getDaysRemaining()! > 0) {
        Ends in {{ getDaysRemaining() }} day{{ getDaysRemaining() === 1 ? '' : 's' }}
      } @else {
        Ended
      }
    </span>
    @if (survey?.category) {
      <span class="category">Category: {{ survey.category }}</span>
    }
  </div>
  <h1 class="title">{{ survey?.title }}</h1>
  @if (survey?.secription) {
    <p class="description">{{ survey?.description }}</p>
  }
</section>
