@import './../../../styles.scss';

.header {
  padding-top: 39px;
  padding-bottom: 92px;
  > a {
    display: block;
    height: 46px;
    width: fit-content;
    > img {
      object-fit: cover;
      height: 46px;
      width: fit-content;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
