@font-face {
    font-family: "Mulish-Bold";
    src: url("/assets/fonts/Mulish-Bold.ttf");
}

@font-face {
    font-family: "Mulish-SemiBold";
    src: url("/assets/fonts/Mulish-SemiBold.ttf");
}

@font-face {
    font-family: "Mulish-Medium";
    src: url("/assets/fonts/Mulish-Medium.ttf");
}

@font-face {
    font-family: "Mulish";
    src: url("/assets/fonts/Mulish-Regular.ttf");
}

@font-face {
    font-family: "Nokora-Bold";
    src: url("/assets/fonts/Nokora-Bold.ttf");
}

@font-face {
    font-family: "Nokora";
    src: url("/assets/fonts/Nokora-Regular.ttf");
}

@font-face {
    font-family: "Nerko";
    src: url("/assets/fonts/NerkoOne-Regular.ttf");
}