@use './../../../styles/index' as s;

.header {
  @include s.dFlex($jc: space-between);
  padding-top: 39px;
  padding-bottom: 92px;
  width: 100%;
  > button {
    display: flex;
    height: 46px;
    width: fit-content;
    background-color: transparent;
    border: none;
    > img {
      object-fit: cover;
      height: 46px;
      width: fit-content;
      &:hover {
        cursor: pointer;
      }
    }
    > .dark {
      display: none;
    }
  }
  > .create_survey_btn {
    display: none;
    position: relative;
    padding: 12px 16px;
    border: none;
    border-radius: 10px;
    background-color: #ffcfa1;
    color: #221227;
    font: 18px 'Nokora-Bold';
    transition:
      background-color 0.3s ease,
      padding-right 0.3s ease;
    > img {
      position: absolute;
      right: 16px;
      width: 20px;
      height: 20px;
      opacity: 0;
      transform: translateX(20px);
      transition:
        opacity 0.3s ease,
        transform 0.3s ease;
      pointer-events: none;
    }
    &:hover {
      cursor: pointer;
      background-color: #ffb770;
      padding-right: 44px;
      > img {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}
