@use "./../../../styles/index" as s;

.ending-soon{
    @include s.dFlex();
    flex-direction: column;
    gap: 56px;
    padding-top: 80px;
    padding-inline: 80px;
    >h2{
        font: 72px "Nerko"
    }
}

.wrapper__ending{
    @include s.dFlex($ai: flex-start);
    flex-direction: column;
    gap: 32px;
    width: 100%;
    >h3{
       font: 32px "Mulish-Medium";
       color: white; 
    }
}

.survey-wrapper{
    @include s.dFlex($jc: flex-start);
    gap: 32px;
    width: 100%;
    overflow-x: scroll;
    scrollbar-width: none;
}