<section class="survey-page">
  <app-main-header></app-main-header>
  <div class="survey-overview">
    <section class="survey-wrapper">
      <app-header [survey]="survey()"></app-header>
      <section class="question-wrapper">
        @for (question of questions(); track question.id; let i = $index) {
          <app-question [question]="question" [index]="i"></app-question>
        }
      </section>
      <button class="complete_btn"></button>
    </section>
    <section class="result-wrapper">
      <button class="results-toggle" id="results-toggle">Close results<img src="/assets/drop_down.svg" alt=""><img src="/assets/drop_down_hover.svg" alt=""></button>
      <div class="title-wrapper">
        <h2>Survey results</h2>
        <h2 class="orange">LIVE</h2>
      </div>
      <div class="question-wrapper">
        @for (question of questions(); track question.id) {
          <app-result-question [question]="question"></app-result-question>
        }
      </div>
    </section>
  </div>
</section>
