<section class="question">
  <div class="title-wrapper">
    <h2>{{ index + 1 }}.</h2>
    <div>
      @if (question) {
        <h2>{{ question.question_text }}</h2>
        <span class="1+p">More than one answers are possible.</span>
      }
    </div>
  </div>
  <div class="option-wrapper">
    @for (answer of question.answers; track answer.id; let i = $index) {
      <div class="option">
        <div class="check">
          <img src="/assets/check.svg" alt="" />
        </div>
        <span
          ><strong>{{ getLabel(i) }}.</strong> {{ answer.answer_text }}</span
        >
      </div>
    }
  </div>
</section>
