@use './../../../../styles/index' as s;

.question {
  @include s.dFlex($ai: flex-start);
  flex-direction: column;
  gap: 24px;
  color: #35273a;
  width: 100%;
  > .title-wrapper {
    @include s.dFlex($ai: flex-start);
    gap: 3px;
    font: 18px 'Mulish-Bold';
    > div > span {
      font: 12px 'Mulish';
    }
  }
  > .option-wrapper {
    @include s.dFlex($ai: flex-start);
    flex-direction: column;
    gap: 8px;
    width: 100%;
    > .option {
      @include s.dFlex($jc: flex-start);
      gap: 8px;
      padding-left: 8px;
      padding-block: 4px;
      width: 100%;
      cursor: pointer;

      &:hover:not(.selected) {
        background-color: #f8e2d3;
      }

      > .check {
        @include s.dFlex();
        height: 15px;
        width: 15px;
        border-radius: 3px;
        border: 1.5px solid #35273a;
        > img {
          opacity: 0;
          transition: opacity 0.15s;
          object-fit: contain;
          height: 11px;
          width: 11px;
        }
      }

      &.selected > .check {
        background: #ffb770;
        border-color: #ffb770;
        > img {
          opacity: 1;
        }
      }
    }
  }
}
