*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
  --sb-track-color: #bababa;
  --sb-thumb-color: #ffb770;
  --sb-size: 8px;
  height: 100vh;
  width: 100%;
  background-color: #35273A;
  color: #FFB770;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

a{
    text-decoration: none;
    &:visited{
        text-decoration: none;
    }
}

@mixin dFlex($jc: center, $ai: center){
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}

@mixin bR($br: 5px, $tr: 20px){
    border-radius: $br;
    border-top-right-radius: $tr;
}

@font-face {
    font-family: "Mulish-Bold";
    src: url("/assets/fonts/Mulish-Bold.ttf");
}

@font-face {
    font-family: "Mulish-SemiBold";
    src: url("/assets/fonts/Mulish-SemiBold.ttf");
}

@font-face {
    font-family: "Mulish-Medium";
    src: url("/assets/fonts/Mulish-Medium.ttf");
}

@font-face {
    font-family: "Mulish";
    src: url("/assets/fonts/Mulish-Regular.ttf");
}

@font-face {
    font-family: "Nokora-Bold";
    src: url("/assets/fonts/Nokora-Bold.ttf");
}

@font-face {
    font-family: "Nokora";
    src: url("/assets/fonts/Nokora-Regular.ttf");
}

@font-face {
    font-family: "Nerko";
    src: url("/assets/fonts/NerkoOne-Regular.ttf");
}

@keyframes blink {
  50% { opacity: 0; }
}

.delete {
  object-fit: cover;
  height: 26px;
  width: 26px;
  padding: 4px;
  border-radius: 3px;

  &--default {
    display: flex;
  }
  &--hover {
    display: none;
  }

  &:hover {
    background-color: #ffd4a9;
    .delete--default {
      display: none;
    }
    .delete--hover {
      @include dFlex();
    }
  }
}

.input-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.input {
  @include bR();
  border: none;
  padding: 7px 13px 7px 13px;
  height: 37px;
  caret-color: transparent;
  width: 100%;
  &:focus {
    outline: none;
    background-color: #fee9d4;
  }
  &:hover {
    cursor: pointer;
  }
}

.fake-caret {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  border-radius: 2px;
  height: 18px;
  background: #35273a;
  pointer-events: none;
  animation: blink 1s step-end infinite;
}